
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

#wrapper{
    width: 90%;
    max-width: 450px;
}

#wrapper h1{
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}

.disply-password{
    position: relative;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid rgb(123, 123, 123);
    display: flex;
}

.random-pass{
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    border: none;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 30px;
    padding-right: 3.25rem;
}

.random-pass::placeholder{
    position: absolute;
    /* top: 50%; */
    left: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}


.btn{
    position: relative;
    background: transparent;
    border: none;
    right: 5%;
    top: 40%;
    
    cursor: pointer;
}

.bttn{
    position: absolute;
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    color: chartreuse;
    background-color: black;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.bttn.active{
    opacity: 1;
    transform: scale(1);
}

.fa-copy{
    font-size: 25px;
    color: rgb(234, 227, 227);
}

.input-container{
    position: relative;
    background-color: rgb(76, 76, 76);
    border-radius: 1rem;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid rgb(123, 123, 123);
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.pass-len-container{
    margin: 0 auto;
    padding-top: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pass-len-container p, span{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.pass-len-container span{
    color: rgb(255, 166, 0);
    
}

.slider{
    margin: 0 auto;
    width: 80%;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    cursor: pointer;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: yellow;
    margin-top: -4px;
    margin-bottom: -4px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 51, 0.50);
    transition: all 100ms ease-in;
    z-index: 10;
    position: relative;
}

.slider:focus{
    outline: 3px solid yellow;
}

.slider::-webkit-slider-thumb:hover{
    background-color: rgb(76, 76, 76);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 51, 0.50);
}

.strength-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.strength-container p{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.strength-container div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background-color: aliceblue; */

}

.generate-btn{
    background-color: aliceblue;
    border-bottom: 0.35rem solid rgb(149, 137, 137);
    border: none;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: 550;
    text-transform: uppercase;
}

.check{
    display: flex;
    margin: 1rem 0;
    margin: 1rem auto;
    width: 80%;
    gap: 0 1rem;
}

.check input{
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.check input:checked{
    background-color: aqua;
}

.check input:checked::before{
    content: '✔';
    position: absolute;
    color: rgb(76, 76, 76);
    font-size: 1.2rem;
    font-weight: 600;
    top: -3.5px;
}

.check label{
    font-size: 1.25rem;
    font-weight: 600;
    color: aliceblue;
}